.main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    background: blue;
}

.title {
    position: relative;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    text-align: center;
    text-align: center;
    width: 70%;
    margin: auto;
  }
  
.description {
    text-align: center;
    line-height: 1;
    position: relative;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    text-align: center;
    width: 70%;
    font-size: 1.2rem;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    padding-top: 1%;
}

@media (min-width: 1000px) {

}